/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
.cache
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
temp

# Temp directories
temp/
**/temp/
/temp/
temp/*
**/temp/*
/tmp/
**/tmp/
tmp/*
**/tmp/*

../temp/*

